---
apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: services-realm
  namespace: keycloak
  labels:
    app: keycloak
    component: realm
spec:
  keycloakCRName: keycloak
  realm:
    realm: services
    enabled: true
    displayName: Services Realm
    displayNameHtml: "<div class=\"kc-logo-text\"><span>Services</span></div>"

    # Security
    sslRequired: external
    registrationAllowed: false
    registrationEmailAsUsername: false
    rememberMe: true
    verifyEmail: false
    loginWithEmailAllowed: true
    duplicateEmailsAllowed: false
    resetPasswordAllowed: true
    editUsernameAllowed: false
    bruteForceProtected: true

    # Sessions
    accessTokenLifespan: 300
    accessTokenLifespanForImplicitFlow: 900
    ssoSessionIdleTimeout: 1800
    ssoSessionMaxLifespan: 36000
    offlineSessionIdleTimeout: 2592000
    accessCodeLifespan: 60
    accessCodeLifespanUserAction: 300
    accessCodeLifespanLogin: 1800
    actionTokenGeneratedByAdminLifespan: 43200
    actionTokenGeneratedByUserLifespan: 300

    # Client Scopes
    clientScopes:
      - name: acr
        description: OpenID Connect scope for add ACR (Authentication Context Class Reference) claim
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "false"
        protocolMappers:
          - name: acr
            protocol: openid-connect
            protocolMapper: oidc-acr-mapper
            config:
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
      - name: address
        description: "OpenID Connect built-in scope: address"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${addressScopeConsentText}"
        protocolMappers:
          - name: address
            protocol: openid-connect
            protocolMapper: oidc-address-mapper
            config:
              user.attribute.formatted: formatted
              user.attribute.street: street
              user.attribute.locality: locality
              user.attribute.region: region
              user.attribute.postal_code: postal_code
              user.attribute.country: country
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
      - name: basic
        description: "OpenID Connect built-in scope: basic"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${basicScopeConsentText}"
      - name: email
        description: "OpenID Connect built-in scope: email"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${emailScopeConsentText}"
        protocolMappers:
          - name: email
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: email
              claim.name: email
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: email verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: emailVerified
              claim.name: email_verified
              jsonType.label: boolean
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
      - name: microprofile-jwt
        description: Microprofile - JWT built-in scope
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "false"
        protocolMappers:
          - name: upn
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: username
              claim.name: upn
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: groups
            protocol: openid-connect
            protocolMapper: oidc-group-membership-mapper
            config:
              full.path: "false"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: groups
              userinfo.token.claim: "true"
      - name: offline_access
        description: "OpenID Connect built-in scope: offline_access"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${offlineAccessScopeConsentText}"
      - name: organization
        description: OpenID Connect scope for add organization claim
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${organizationScopeConsentText}"
        protocolMappers:
          - name: organization
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            config:
              user.attribute: organization
              claim.name: organization
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
      - name: phone
        description: "OpenID Connect built-in scope: phone"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${phoneScopeConsentText}"
        protocolMappers:
          - name: phone number
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: phoneNumber
              claim.name: phone_number
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: phone number verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: phoneNumberVerified
              claim.name: phone_number_verified
              jsonType.label: boolean
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
      - name: profile
        description: "OpenID Connect built-in scope: profile"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${profileScopeConsentText}"
        protocolMappers:
          - name: username
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: username
              claim.name: preferred_username
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: full name
            protocol: openid-connect
            protocolMapper: oidc-full-name-mapper
            config:
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: given name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: firstName
              claim.name: given_name
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: family name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: lastName
              claim.name: family_name
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: profile
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: profile
              claim.name: profile
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: picture
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: picture
              claim.name: picture
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: website
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: website
              claim.name: website
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: gender
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: gender
              claim.name: gender
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: birthdate
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: birthdate
              claim.name: birthdate
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: zoneinfo
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: zoneinfo
              claim.name: zoneinfo
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: locale
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: locale
              claim.name: locale
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - name: updated at
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            config:
              user.attribute: updatedAt
              claim.name: updated_at
              jsonType.label: String
              id.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
      - name: role_list
        description: SAML role list
        protocol: saml
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
        protocolMappers:
          - name: role list
            protocol: saml
            protocolMapper: saml-role-list-mapper
            config:
              single: "false"
              attribute.nameformat: Basic
              attribute.name: Role
      - name: groups
        description: OpenID Connect scope for add user groups to the access token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: "${groupsScopeConsentText}"
        protocolMappers:
          - name: groups
            protocol: openid-connect
            protocolMapper: oidc-group-membership-mapper
            config:
              full.path: "false"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: groups
              userinfo.token.claim: "true"

    # Clients
    clients:
      - clientId: argocd
        name: Argo CD
        enabled: true
        protocol: openid-connect
        clientAuthenticatorType: client-secret
        publicClient: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: true
        rootUrl: "https://argo.buildbyte.ru"
        baseUrl: "https://argo.buildbyte.ru"
        redirectUris:
          - "https://argo.buildbyte.ru/auth/callback"
        webOrigins:
          - "https://argo.buildbyte.ru"
        defaultClientScopes:
          - web-origins
          - role_list
          - profile
          - email
          - roles
          - groups
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt

      - clientId: jenkins
        name: Jenkins
        enabled: true
        protocol: openid-connect
        clientAuthenticatorType: client-secret
        publicClient: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: true
        rootUrl: "https://jenkins.buildbyte.ru"
        baseUrl: "https://jenkins.buildbyte.ru"
        redirectUris:
          - "https://jenkins.buildbyte.ru/securityRealm/finishLogin"
        webOrigins:
          - "https://jenkins.buildbyte.ru"
        defaultClientScopes:
          - web-origins
          - role_list
          - profile
          - email
          - roles
          - groups
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt

      - clientId: grafana
        name: Grafana
        enabled: true
        protocol: openid-connect
        clientAuthenticatorType: client-secret
        publicClient: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: true
        rootUrl: "https://grafana.buildbyte.ru"
        baseUrl: "https://grafana.buildbyte.ru"
        redirectUris:
          - "https://grafana.buildbyte.ru/login/generic_oauth"
        webOrigins:
          - "https://grafana.buildbyte.ru"
        defaultClientScopes:
          - web-origins
          - role_list
          - profile
          - email
          - roles
          - groups
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt

    # Realm roles
    roles:
      realm:
        - name: admin
          description: Admin role
        - name: user
          description: User role
        - name: viewer
          description: Viewer role

    # Groups
    groups:
      - name: GrafanaAdmin
        path: /GrafanaAdmin
        realmRoles:
          - admin
      - name: JenkinsAdmin
        path: /JenkinsAdmin
        realmRoles:
          - admin
      - name: ArgoCDAdmin
        path: /ArgoCDAdmin
        realmRoles:
          - admin
      - name: viewer
        path: /viewer
        realmRoles:
          - viewer

    # Users
    # ВАЖНО: Пароль пользователя admin хранится в секрете keycloak-admin-credentials
    # Если нужно обновить пароль из секрета после создания realm, используйте Keycloak Admin API
    # Пример команды для обновления пароля:
    # 1. Получите токен администратора Keycloak (из секрета keycloak-admin-credentials)
    # 2. Найдите ID пользователя admin: GET /admin/realms/services/users?username=admin
    # 3. Обновите пароль: PUT /admin/realms/services/users/{user-id}/reset-password
    #    Body: {"type":"password","value":"<password-from-secret>","temporary":false}
    users:
      - username: admin
        enabled: true
        email: admin@buildbyte.ru
        emailVerified: true
        firstName: Admin
        lastName: User
        credentials:
          - type: password
            value: "change_me"  # Пароль из секрета keycloak-admin-credentials (синхронизируется из Vault)
            temporary: false
        realmRoles:
          - admin
          - user
        groups:
          - /GrafanaAdmin
          - /JenkinsAdmin
          - /ArgoCDAdmin

    # Default roles
    defaultRoles:
      - default-roles-services
      - offline_access
      - uma_authorization