---
# VaultAuth для аутентификации в Vault через Kubernetes auth
#
# Использует Kubernetes auth method с путём kubernetes-dev
# (настроен для dev кластера в Vault)
#
# Использование:
#   kubectl apply -f dev/manifests/vault-secrets-operator/vault-auth.yaml
#
# Проверка:
#   kubectl get vaultauth -n vault-secrets-operator
#   kubectl describe vaultauth default -n vault-secrets-operator
#
# VaultStaticSecret ссылаются на этот VaultAuth:
#   vaultAuthRef: vault-secrets-operator/default
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: default
  namespace: vault-secrets-operator
spec:
  # Ссылка на VaultConnection
  vaultConnectionRef: default
  # Метод аутентификации
  method: kubernetes
  # Путь auth method в Vault (kubernetes-dev для dev кластера)
  mount: kubernetes-dev
  kubernetes:
    # Роль в Vault
    role: vault-secrets-operator
    # ServiceAccount для аутентификации
    serviceAccount: default
