---
# VaultStaticSecret для Docker Registry в dev кластере (imagePullSecrets для подов)
# Создаёт Kubernetes Secret типа kubernetes.io/dockerconfigjson из username/password в Vault.
#
# Vault путь: secret/dev/docker-registry
# Ключи в Vault: username, password
#
# Создание в Vault:
#   vault kv put secret/dev/docker-registry \
#     username='buildbyte-container-registry' \
#     password='<ВАШ_API_TOKEN>'
#
# Kubernetes Secret: registry-docker-registry (type: kubernetes.io/dockerconfigjson)
# Использование: imagePullSecrets: [{ name: registry-docker-registry }]
#
# Применение (в dev кластере):
#   kubectl apply -f manifests/dev/docker-registry/docker-registry-vaultstaticsecret.yaml
#
# Проверка:
#   kubectl get vaultstaticsecret registry-docker-registry -n donweather
#   kubectl get secret registry-docker-registry -n donweather
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: registry-docker-registry
  namespace: donweather
  labels:
    app: docker-registry
    component: image-pull
spec:
  vaultAuthRef: vault-secrets-operator/default
  mount: secret
  type: kv-v2
  path: dev/docker-registry
  refreshAfter: 60s
  destination:
    name: registry-docker-registry
    create: true
    type: kubernetes.io/dockerconfigjson
    transformation:
      excludes:
        - ".*"
      templates:
        .dockerconfigjson:
          name: .dockerconfigjson
          text: |
            {{- $u := get .Secrets "username" -}}
            {{- $p := get .Secrets "password" -}}
            {{- $auth := printf "%s:%s" $u $p | b64enc -}}
            {{- printf "{\"auths\":{\"buildbyte-container-registry.registry.twcstorage.ru\":{\"username\":\"%s\",\"password\":\"%s\",\"auth\":\"%s\"}}}" $u $p $auth -}}
