---
# VaultStaticSecret для синхронизации Keycloak database credentials из Vault
#
# Секрет в Vault должен содержать следующие ключи:
#   - username: имя пользователя БД (keycloak)
#   - password: пароль пользователя БД
#   - database: имя базы данных (keycloak)
#
# Использование:
#   1. Создайте базу данных и пользователя в PostgreSQL (см. README.md раздел 6.4)
#   2. Сохраните секреты в Vault:
#      vault kv put secret/keycloak/database \
#        username='keycloak' \
#        password='<ПАРОЛЬ_KEYCLOAK>' \
#        database='keycloak'
#   3. Создайте namespace: kubectl create namespace keycloak
#   4. Примените манифест: kubectl apply -f service/manifests/keycloak/keycloak-db-credentials-vaultstaticsecret.yaml
#   5. Проверьте синхронизацию: kubectl get vaultstaticsecret -n keycloak
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: keycloak-db-credentials
  namespace: keycloak
  labels:
    app: keycloak
    component: database-credentials
spec:
  vaultAuthRef: vault-secrets-operator/default
  mount: secret
  type: kv-v2
  path: keycloak/database
  refreshAfter: 60s
  destination:
    name: keycloak-db-credentials
    create: true
