---
# VaultStaticSecret для синхронизации Keycloak admin credentials из Vault
#
# Секрет в Vault должен содержать следующие ключи:
#   - username: имя администратора Keycloak
#   - password: пароль администратора Keycloak
#
# Использование:
#   1. Сохраните секреты в Vault:
#      vault kv put secret/keycloak/admin \
#        username='admin' \
#        password='<ПАРОЛЬ_ADMIN>'
#   2. Создайте namespace: kubectl create namespace keycloak
#   3. Примените манифест: kubectl apply -f service/manifests/keycloak/keycloak-admin-credentials-vaultstaticsecret.yaml
#   4. Проверьте синхронизацию: kubectl get vaultstaticsecret -n keycloak
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: keycloak-admin-credentials
  namespace: keycloak
  labels:
    app: keycloak
    component: admin-credentials
spec:
  vaultAuthRef: vault-secrets-operator/default
  mount: secret
  type: kv-v2
  path: keycloak/admin
  refreshAfter: 60s
  destination:
    name: keycloak-admin-credentials
    create: true
